*{
    box-sizing: border-box;
  }
  body{
    margin:0;
    
  }
  .nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 10px 1rem;
  }
  .card{
      padding: 1rem;
      position: relative;
      padding: var(--bd-example-padding);
      margin: 0 -1.5rem;
      border: solid #dee2e6;
      border-width: 1px 0;
  }
  .card{
    padding: 20px 20px;
  }
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;

  }
  .nav a {
    color: inherit;
  }
  .cart{
    
    width: 100%;
    background: rgb(19, 18, 18);  
  }
  .head{
    cursor: pointer;
  }
  li{
    cursor: pointer;
  }
  .site-title{
    font-size: 2rem;
  }